<!DOCTYPE html>
<html th:replace="~{layoutFile :: layout('Home Title', ~{::section})}" lang="en">

<section>
    <p>Welcome to Home Page</p>
    <hr>
    <div th:replace="~{/components/video-component::showVideo('https://www.youtube.com/watch?v=letCe6dE3gY&ab_channel=TheB1M', 'SPO DI', 'ELON MUSK', '1M', '2 hours ago!')}">

    </div>
    <hr>
    <div th:replace="~{/components/ads-fragment::showAds('https://i.ytimg.com/vi/letCe6dE3gY/maxresdefault.jpg', 'SPO DI', 'SPO DI')}">

    </div>

</section>

</html>