<!DOCTYPE html>
<html th:replace="~{layoutFile :: layout('Home Title', ~{::section})}" lang="en">

<section>
    <form action="/test" method="post" target="_blank">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword">
        </div>
        <div>
            <button type="submit">Register</button>
            <button type="reset">Reset</button>
        </div>
    </form>

</section>

</html>